{{#extends "base"}}

{{#block "content"}}

<h2 class="mt-3">Welcome, Choose Your Option</h2>
   <div>
    <a href="/overall/summary" class="btn btn-success">Overview</a>
</div>
<br>
<div>
    <a href="/banks" class="btn btn-success">Bank Details</a>
</div>
<br>
<div>
    <a href="/agents" class="btn btn-success">Agent Details</a>
</div>
<br>
   <div>
    <a href="/customers" class="btn btn-success">Investor Details</a>
</div>
<br>
 <div>
    <a href="/pnotes" class="btn btn-success">All Pnotes</a>
</div>
<br>
<div>
    <a href="/agents/commissions" class="btn btn-success">Agent Commissions</a>
</div>
<br>
   <div>
    <a href="/totalAum" class="btn btn-success">Total Aum</a>
</div>

{{/block}}

{{/extends}}