{{#extends "base"}}

{{#block "content"}}

<h2 class="mt-3">Welcome, Choose Your Option</h2>
   <div>
    <a href="/overallView" class="btn btn-success">Overview</a>
</div>
<br>
   <div>
    <a href="/customers" class="btn btn-success">Customers</a>
</div>
<br>
   <div>
    <a href="/customers/create" class="btn btn-success">New Customer</a>
</div>
<br>
 <div>
    <a href="/pnotes" class="btn btn-success">All Pnotes</a>
</div>
<br>
   <div>
    <a href="/totalAum" class="btn btn-success">Total Aum</a>
</div>

{{/block}}

{{/extends}}